requests >= 2.5.0
lxml >= 3.4.1
path.py >= 7.0
sh >= 1.09
namedlist >= 1.5
python-dateutil >= 2.3
argcomplete >= 0.8.3
netaddr >= 0.7.12
contextdecorator >= 0.10.0
total-ordering >= 0.1.0
retrying >= 1.2.3
